[Unit]
Description=Run Daily Arch Linux Security Vulnerability Audit Notifier

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target

