[Unit]
Description=Run Weekly ClamAV System Scan

[Timer]
OnCalendar=Fri *-*-* 19:30:00
Persistent=true
AccuracySec=15m

[Install]
WantedBy=timers.target

