[Unit]
Description=Send local mail notification on ClamAV update failure

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/journalctl -u clamav-custom-update.service -n 50 | /usr/bin/mail -s "ALERT: ClamAV Custom Update Failed" glitch'

[Install]
WantedBy=multi-user.target

